@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-width {
    @apply w-[90%];
  }

  .swiper-custom-pagination > span {
    @apply bg-light-blue12 dark:bg-dark-blue12;
  }

  .swiper-custom-prev {
    @apply text-light-blue12 dark:text-dark-blue12;
  }

  .swiper-custom-next {
    @apply text-light-blue12 dark:text-dark-blue12;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

.active-scroll-spy {
  width: 70px;
  height: 2px;
}
